<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key><string>app-store</string>
  <key>signingStyle</key><string>automatic</string>
  <key>destination</key><string>export</string>
  <key>compileBitcode</key><true/>
  <!-- (선택) 프로파일 이름을 고정하고 싶다면 아래 주석 해제 후 값 바꿔서 사용
  <key>provisioningProfiles</key>
  <dict>
    <key>com.zlabo.wonmoremoneybook</key>
    <string>wonmoreappstoreprofile</string>
  </dict>
  -->
</dict>
</plist>
